/* You can add global styles to this file, and also import other style files */
//@font-face {
//  font-family: font-fzzj;
//  src: url("/assets/font/fzzj-xss.ttf") format("ttf");
//}

* {
  font-family: cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

//<editor-fold desc="公用样式">
[routerLink], [ng-reflect-router-link] {
  outline: none;
}

.flex-h {
  display: flex;
  flex-direction: row;

  &.flex-children-avg > * {
    flex: 1;
  }
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-avg, .flex-1 {
  flex: 1;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-before-1:before,
.flex-after-1:after,
{
  content: ' ';
  flex: 1;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

area {
  outline: none;
}

.position-origin {
  top: 0;
  left: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.font-size-0 {
  font-size: 0;
}

.font-size-1 {
  font-size: 1rem;
}

.full-parent {
  width: 100%;
  height: 100%;
}

.overflow-auto {
  overflow: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-clear {
  clear: both;
}

.color-red {
  color: #f00;
}

.color-green {
  color: #0f0;
}

.color-white {
  color: #fff;
}

.color-gray {
  color: #808080;
}

.duration-delete {
  //height: 0!important;
  overflow: hidden;
  opacity: 0;
  transition: height 1s, opacity 1s;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.progress {
  background: #8d5858;

  .bar {
    background: #820f0f;
  }
}

.disable {
  pointer-events: none;

  &.btn {
    background: #999 !important;
    color: #eee !important;
  }
}

//<editor-fold desc="动画">
// 向上移动动画
@keyframes anim-to-up {
  0% {
    top: 0;
  }
  100% {
    top: -2rem;
  }
}

//</editor-fold>

//</editor-fold>

