/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//<editor-fold desc="公用样式">
[routerLink], [ng-reflect-router-link] {
  outline: none;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-avg, .flex-1 {
  flex: 1;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

//</editor-fold>

