/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

//<editor-fold desc="公用样式">
[routerLink], [ng-reflect-router-link] {
  outline: none;
}

.flex-h {
  display: flex;
  flex-direction: row;

  &.flex-children-avg > * {
    flex: 1;
  }
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.flex-avg, .flex-1 {
  flex: 1;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

area {
  outline: none;
}

.position-origin {
  top: 0;
  left: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.font-size-0 {
  font-size: 0;
}

.font-size-1 {
  font-size: 1rem;
}

.full-parent {
  width: 100%;
  height: 100%;
}

//</editor-fold>

