<div class="skills margin-center">

  <div class="skill" *ngFor="let skill of store">
    <div class="flex-h flex-center">
      <img [src]="skill.pic" alt="" class="icon">
      <div class="detail flex-1">
        <div class="flex-h flex-children-avg">
          <span>{{skill.name}}</span>
          <span>Lv.{{skill.lv}}</span>
        </div>
        <div class="flex-h flex-children-avg">
          <span>MP: {{skill.mp}}</span>
          <span>CD: {{skill.cd}}回合</span>
        </div>
      </div>
    </div>
    <div class="note" [innerHTML]="skill.noteHtml"></div>
  </div>

</div>
