.main {

  .mask {
    background: rgba(0, 0, 0, .3);
  }

  .enemies, .players {
    position: absolute;
    left: 0;
    top: 0;
    //border: 1px solid #fff;
    margin: 1rem;
    font-size: 14px;
  }

  .enemies {
    left: auto;
    right: 0;
    text-align: right;

    .points .value {
      left: auto !important;
      right: 0;
    }

    .deduct-box {
      position: absolute;
      top: 0;

      .deduct {
        left: 0;
        right: auto;
      }
    }

    //.player {
    //  &.hurting {
    //    //left: auto;
    //    //right: -.5rem;
    //  }
    //}
  }

  .player {
    margin-bottom: 1rem;
    background: rgb(149, 129, 18, .3);
    position: relative;

    .name {
      position: relative;
    }

    > * {
      padding: 5px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .head_pic {
      width: 3rem;
      height: 3rem;
    }

    .right-box {
      width: 120px;
      padding-left: .5rem;

      > * {
        color: #fff;
      }

      .points {
        padding: 0;
        margin: 3px;
        height: 8px;
        border: 1px solid #fff;
        position: relative;

        .value {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          transition: width .3s;
        }

        &.health {
          background: #f3b9b9;

          .value {
            background: #e82f2f;
          }
        }

        &.magic {
          background: #bedbf6;

          .value {
            background: #2395f3;
          }
        }

      }
    }

    .buf {
      img {
        width: 1rem;
        margin-right: 3px;
      }
    }

    .deduct {
      top: 0;
      right: 0;
      color: #ea0000;
      //transition: top .3s;

      &.anim {
        animation: anim-to-up 1s;
      }
    }
  }

  .chart {
    bottom: 1rem;
    left: 1rem;
    border: 1px solid #fff;
    width: 300px;
    height: 200px;

    > * {
      border: 1px solid #fff;
    }
  }

  .props-container {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;

    .props-box {
      border: 1px solid #aaa;

      .box {
        width: 3rem;
        height: 3rem;
        background-position: center;
        background-size: cover;
        background-image: url("/assets/img/fight/skill/unknow.png");
        position: relative;

        &:before {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
          font-size: 1rem;
        }

        &.skill:nth-child(1):before {
          content: 'Q';
        }

        &.skill:nth-child(2):before {
          content: 'W';
        }

        &.skill:nth-child(3):before {
          content: 'E';
        }

        &.skill:nth-child(4):before {
          content: 'R';
        }

        &.skill:nth-child(5):before {
          content: 'T';
        }

        &.skill:nth-child(6):before {
          content: 'Y';
        }

        &.prop:nth-child(1):before {
          content: '1';
        }

        &.prop:nth-child(2):before {
          content: '2';
        }

        &.prop:nth-child(3):before {
          content: '3';
        }

        &.prop:nth-child(4):before {
          content: '4';
        }

        &.prop:nth-child(5):before {
          content: '5';
        }

        &.prop:nth-child(6):before {
          content: '6';
        }
      }

      .auto-attack, .attack, .defense, .escape {
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
        overflow: hidden;
        background: #90823e;
        position: absolute;

        > img {
          width: 100%;
          height: 100%;
        }
      }

      .auto-attack {
        opacity: .7;

        &.auto {
          opacity: 1;
        }
      }

      .attack {
        left: -2.5rem;
      }

      .defense {
        top: 0;
        right: -2.5rem;
      }

      .escape {
        top: 3rem;
        right: -2.5rem;
      }
    }

    .level-exp-container {
      margin: 0 -3rem;
      color: #fff;
      height: .5rem;
      font-size: .5rem;

      .exp-title {
        margin-top: -.5rem;
        padding: 0 .5rem 0 0;
      }

      .exp-box {
        background: #21581a;
        position: relative;

        .exp-percent {
          position: absolute;
          top: 25%;
          left: 0;
          height: 50%;
          width: 10%;
          background: #10ad05;
          transition: width .3s;
        }
      }
    }
  }

  .fight_info_box {
    bottom: 1rem;
    right: 1rem;
    width: 300px;
    color: #ddd;
    font-size: 0.85rem;
    background: rgba(0, 0, 0, .2);
    padding: .5rem;
    line-height: 1.5rem;

    .player {
      color: #095084;
      background: transparent !important;
    }

    .enemy {
      color: #13580d;
    }

    .harm {
      color: #cbb90c;
    }

    .skill_name {
      color: #820f0f;
    }

    .normal_attack {
      color: #666;
    }
  }

  .round_info {
    margin-top: 1rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .round_times {
      color: #e6bd29;
      font-size: 2rem;
    }
  }
}

.skill_wait {
  background: #000;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.hurting {
  background: rgba(255, 0, 0, .2) !important;
  transition: background-color .3s;
}
