<div class="main flex-h flex-center">

  <div class="relative font-size-0">
    <img [src]="'/assets/fight/bg/'+gameMap.name+'.jpg'" alt="" class="relative position-origin">
    <div class="absolute full-parent position-origin mask"></div>

    <!--主面板-->
    <div class="font-size-1 absolute full-parent position-origin">

      <!--我方-->
      <div class="players absolute">
        <div class="player">

          <div class="flex-h flex-center">
            <img [src]="player.pic" alt="" class="head_pic">
            <div class="flex-1 right-box">
              <div class="name">{{player.name}} <span class="lv">Lv.{{player.level}}</span></div>
              <div class="health points">
                <div class="value" [ngStyle]="{width:player.hp/player.maxHp*100+'%'}"></div>
              </div>
              <div class="magic points">
                <div class="value" [ngStyle]="{width:player.mp/player.maxMp*100+'%'}"></div>
              </div>
            </div>
          </div>

          <div class="buf">
            <img src="/assets/fight/stateIco/up_attack.jpg" alt="">
            <img src="/assets/fight/stateIco/buf_2.png" alt="">
          </div>
        </div>
      </div>

      <!--敌对方-->
      <div class="enemies absolute">
        <div class="player" (click)="attackEnemy()">
          <div class="flex-h flex-center">
            <div class="flex-1 right-box">
              <div class="name">{{master.name}} <span class="lv">Lv.{{master.level}}</span></div>
              <div class="health points">
                <div class="value" [ngStyle]="{width:master.hp/master.maxHp*100+'%'}"></div>
              </div>
              <div class="magic points">
                <div class="value" [ngStyle]="{width:master.mp/master.maxMp*100+'%'}"></div>
              </div>
            </div>
            <img [src]="master.pic" alt="" class="head_pic">
          </div>
          <div class="buf">
            <img src="/assets/fight/stateIco/up_attack.jpg" alt="">
            <img src="/assets/fight/stateIco/buf_2.png" alt="">
          </div>
        </div>
      </div>

      <!--回合信息-->
      <div class="round_info absolute">
        <div class="round_times">第 1 回合</div>
      </div>

      <!--聊天频道-->
      <div class="chart absolute flex-v">
        <div class="list flex-1">
          <div class="item">聊天列表</div>
        </div>
        <div class="input_box">
          输入框
        </div>
      </div>

      <!--技能&药品-->
      <div class="props-box absolute">
        <div class="skill-list flex-h">
          <div class="skill box flex-1"></div>
          <div class="skill box flex-1"></div>
          <div class="skill box flex-1"></div>
          <div class="skill box flex-1"></div>
          <div class="skill box flex-1"></div>
          <div class="skill box flex-1"></div>
        </div>
        <div class="prop-list flex-h">
          <div class="prop box flex-1"></div>
          <div class="prop box flex-1"></div>
          <div class="prop box flex-1"></div>
          <div class="prop box flex-1"></div>
          <div class="prop box flex-1"></div>
          <div class="prop box flex-1"></div>
        </div>
      </div>

      <!--战斗信息-->
      <div class="fight_info_box absolute overflow-auto" #fightInfoRef>
        <div *ngFor="let msg of attackMessages">{{msg}}</div>
      </div>

    </div>
  </div>

</div>
