<div class="main flex-h flex-center">

  <div class="relative font-size-0">
    <img [src]="'/assets/fight/bg/'+gameMap.name+'.jpg'" alt="" class="relative position-origin">
    <div class="absolute full-parent position-origin mask"></div>

    <!--主面板-->
    <div class="font-size-1 absolute full-parent position-origin">

      <!--我方-->
      <div class="players absolute">
        <div class="player">

          <div class="flex-h flex-center">
            <img [src]="player.pic" alt="" class="head_pic">
            <div class="flex-1 right-box">
              <div class="name">{{player.name}} <span class="lv">Lv.{{player.level}}</span></div>
              <div class="health points">
                <div class="value" [ngStyle]="{width:player.currentHP/player.maxHP*100+'%'}"></div>
              </div>
              <div class="magic points">
                <div class="value" [ngStyle]="{width:player.currentMP/player.maxMP*100+'%'}"></div>
              </div>
            </div>
          </div>

          <div class="buf">
            <img src="/assets/fight/stateIco/up_attack.jpg" alt="">
            <img src="/assets/fight/stateIco/buf_2.png" alt="">
          </div>
        </div>
      </div>

      <!--敌对方-->
      <div class="enemies absolute">
        <div class="player" *ngIf="enemy">
          <div class="flex-h flex-center">
            <div class="flex-1 right-box">
              <div class="name">{{enemy.name}} <span class="lv">Lv.{{enemy.level}}</span></div>
              <div class="health points">
                <div class="value" [ngStyle]="{width:enemy.currentHP/enemy.maxHP*100+'%'}"></div>
              </div>
              <div class="magic points">
                <div class="value" [ngStyle]="{width:enemy.currentMP/enemy.maxMP*100+'%'}"></div>
              </div>
            </div>
            <img [src]="enemy.pic" alt="" class="head_pic">
          </div>
          <div class="buf">
            <img src="/assets/fight/stateIco/up_attack.jpg" alt="">
            <img src="/assets/fight/stateIco/buf_2.png" alt="">
          </div>
        </div>
      </div>

      <!--回合信息-->
      <div class="round_info absolute">
        <div class="round_times">第 {{fightScene.roundCounter}} 回合</div>
      </div>

      <!--聊天频道-->
      <div class="chart absolute flex-v">
        <div class="list flex-1">
          <div class="item">聊天列表</div>
        </div>
        <div class="input_box">
          输入框
        </div>
      </div>

      <!--技能&药品-->
      <div class="props-container absolute">
        <div class="props-box">
          <div>
            <div class="attack box" (click)="normalAttack()">
              <img src="/assets/fight/skill/attack.png" alt="">
              <div class="skill_wait" [skill-wait]="isPause"></div>
            </div>
            <div class="skill-list flex-h">
              <div class="skill box flex-1">
                <div class="skill_wait" [skill-wait]="isPause"></div>
              </div>
              <div class="skill box flex-1">
                <div class="skill_wait" [skill-wait]="isPause"></div>
              </div>
              <div class="skill box flex-1">
                <div class="skill_wait" [skill-wait]="isPause"></div>
              </div>
              <div class="skill box flex-1">
                <div class="skill_wait" [skill-wait]="isPause"></div>
              </div>
              <div class="skill box flex-1">
                <div class="skill_wait" [skill-wait]="isPause"></div>
              </div>
              <div class="skill box flex-1">
                <div class="skill_wait" [skill-wait]="isPause"></div>
              </div>
            </div>
            <div class="defense box">
              <img src="/assets/fight/skill/defense.png" alt="">
              <div class="skill_wait" [skill-wait]="isPause"></div>
            </div>
          </div>
          <div class="prop-list flex-h">
            <div class="prop box flex-1">
              <div class="skill_wait" [skill-wait]="isPause"></div>
            </div>
            <div class="prop box flex-1">
              <div class="skill_wait" [skill-wait]="isPause"></div>
            </div>
            <div class="prop box flex-1">
              <div class="skill_wait" [skill-wait]="isPause"></div>
            </div>
            <div class="prop box flex-1">
              <div class="skill_wait" [skill-wait]="isPause"></div>
            </div>
            <div class="prop box flex-1">
              <div class="skill_wait" [skill-wait]="isPause"></div>
            </div>
            <div class="prop box flex-1">
              <div class="skill_wait" [skill-wait]="isPause"></div>
            </div>
          </div>
        </div>
        <div class="flex-h level-exp-container">
          <span class="exp-title">Exp</span>
          <span class="flex-1 exp-box">
            <span class="exp-percent" [ngStyle]="{'width':player.exp.currentExp/player.exp.levelUpExp*100+'%'}"></span>
          </span>
        </div>
      </div>

      <!--战斗信息-->
      <div class="fight_info_box absolute overflow-auto" #fightInfoRef>
        <div *ngFor="let msg of fightScene.messageQueue.queue"
             [durationDelete]="{data:msg}" [onDeleted]="onMessageDelete">
          <span *ngIf="1 == msg.type">
            <span class="{{msg.data.fromRole.isPlayer?'player':'enemy'}}">{{msg.data.fromRole.name}}</span>
            (<span class="{{msg.data.skill?'skill_name':'normal_attack'}}">{{msg.data.skill || '普通攻击'}}</span>)
            对
            <span class="{{msg.data.toRole.isPlayer?'player':'enemy'}}">{{msg.data.toRole.name}}</span>
            造成
            <span class="harm">{{msg.data.harm}}</span>
            点伤害.
          </span>
          <span *ngIf="msg.data.extra">{{msg.data.extra}}</span>
        </div>
      </div>

    </div>
  </div>

</div>
