.main {

  .mask {
    background: rgba(0, 0, 0, .3);
  }

  .enemies, .players {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #fff;
    margin: 1rem;
    font-size: 14px;
  }

  .enemies {
    left: auto;
    right: 0;
    text-align: right;

    .points .value {
      left: auto !important;
      right: 0;
    }
  }

  .player {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .head_pic {
      width: 40px;
    }

    .right-box {
      width: 120px;
      padding-left: .5rem;

      > * {
        color: #fff;
      }

      .points {
        padding: 0;
        margin: 3px;
        height: 8px;
        border: 1px solid #fff;
        position: relative;

        .value {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }

        &.health {
          background: #f3b9b9;

          .value {
            background: #e82f2f;
          }
        }

        &.magic {
          background: #bedbf6;

          .value {
            background: #2395f3;
          }
        }

      }
    }

    .buf {
      img {
        width: 1rem;
        margin-right: 3px;
      }
    }
  }

  .chart {
    bottom: 1rem;
    left: 1rem;
    border: 1px solid #fff;
    width: 300px;
    height: 200px;

    > * {
      border: 1px solid #fff;
    }
  }

  .props-box {
    border: 1px solid #aaa;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    .box {
      width: 3rem;
      height: 3rem;
      background-position: center;
      background-size: cover;
      background-image: url("/assets/fight/skill/unknow.png");
      position: relative;

      .skill_wait {
        background: #000;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
      }
    }

    .attack, .defense {
      width: 3rem;
      height: 3rem;
      border-radius: 2rem;
      overflow: hidden;
      background: #90823e;

      > img {
        width: 100%;
        height: 100%;
      }
    }

    .attack {
      position: absolute;
      left: -3.5rem;
    }

    .defense {
      position: absolute;
      top: 0;
      right: -3.5rem;
    }
  }

  .fight_info_box {
    //border: 1px solid #aaa;
    bottom: 1rem;
    right: 1rem;
    width: 300px;
    //height: 200px;
    color: #aaa;
    font-size: 0.85rem;
    //background: rgba(0,0,0,.3);

    .player {
      color: #095084;
    }

    .enemy {
      color: #13580d;
    }

    .harm {
      color: #cbb90c;
    }

    .skill_name {
      color: #820f0f;
    }

    .normal_attack {
      color: #666;
    }
  }

  .round_info {
    margin-top: 1rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .round_times {
      color: #e6bd29;
      font-size: 2rem;
    }
  }
}
